/********************
GENERAL
********************/
body {
  font-family: 'Open Sans', sans-serif; }

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  padding-top: 9.5em; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

h3 {
  margin: 0 0 2em 0; }

/********************
HEADING
********************/
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%; }

#logo {
  text-align: center;
  margin: 0; }

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em; }

h2 {
  font-size: 0.85em;
  margin: -5px 0 0;
  font-weight: normal; }

.body-title {
  text-align: center; }

/********************
NAVIGATION
********************/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0; }

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0; }

nav li {
  display: inline-block; }

nav a {
  font-weight: 800;
  padding: 15px 10px; }

/********************
FOOTER
********************/
footer {
  font-size: 0.80em;
  text-align: center;
  clear: both;
  padding-top: 50px; }

/********************
PAGE: WEB
********************/
#gallery {
  margin: 0;
  padding: 0;
  list-style: none; }

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%; }

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.85em; }

/********************
PAGE: 3D
********************/
#videos {
  margin: 0;
  padding: 0;
  list-style: none; }

#videos li {
  float: left;
  width: 95%;
  margin: 2.5%; }

#videos li p {
  margin: 0;
  padding: 5%;
  font-size: 0.85em; }

/*This technique courtesy of http://coolestguidesontheplanet.com/videodrome/youtube/ */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 560px;
  max-height: 315px; }

/********************
PAGE: ABOUT
********************/
.profile-photo {
  display: block;
  max-width: 150px;
  margin: auto;
  margin-bottom: 2%;
  padding: 4.5%;
  border-radius: 25%;
  /*Changing the picture edge*/ }

#wrapper h3,
#wrapper p {
  margin: 0 0 4%;
  padding-top: 0; }

/********************
PAGE: CONTACT
********************/
#primary h3 {
  margin: 0 0 4%;
  padding-top: 0em; }

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em; }

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px; }

.contact-info li.phone a {
  background-image: url("../img/phone.png"); }

.contact-info li.mail a {
  background-image: url("../img/mail.png"); }

/********************
COLORS
********************/
/* site body */
body,
#copyright {
  background-color: #fff;
  color: #444; }

/* green header */
header {
  background: #509cda;
  border-color: #3454e6; }

/* nav bkgd on mobile devices */
nav {
  background: #3454e6; }

/* logo text */
h1, h2 {
  color: #fff; }

/* links */
a {
  color: #0512b2; }

#gallery li,
#videos li {
  background-color: #d2d2d2; }

#gallery li a p,
#videos li p {
  color: #444; }

nav a, nav a:visited {
  color: #fff; }

/* selected nav link */
nav a.selected, nav a:hover, nav a:focus {
  color: #0512b0; }

@media screen and (min-width: 635px) {
  /********************
  TWO COLUMN LAYOUT - CONTACT PAGE
  ********************/
  #wrapper {
    padding-top: 0.5em; }

  #primary {
    width: 50%;
    float: left; }

  #primary h3 {
    margin: 0 0 4%;
    padding-top: 0; }

  .secondary {
    width: 40%;
    float: right;
    padding-top: 1em; }

  /********************
  3 * 5 = 15 (this is margins)
  100% - 15% = 85%
  85 / 3 = 28.333333333333
  ********************/
  /********************
  PAGE: WEB (& 3D)
  ********************/
  #gallery li {
    width: 28.3333%; }

  #gallery li:nth-child(4n) {
    clear: left; }

  /********************
  PAGE: ABOUT
  ********************/
  .profile-photo {
    float: left;
    margin: 0 5% 15px 0; }

  #wrapper h3 {
    margin: 0 5% 15px 0;
    padding-top: 26%; } }
@media screen and (min-width: 670px) {
  /********************
  PAGE: 3D
  ********************/
  #videos li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #d1d1d1;
    color: #bdc3c7; } }
@media screen and (min-width: 705px) {
  /********************
  HEADER
  ********************/
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%; }

  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%; }

  h1 {
    font-size: 2.5em; }

  h2 {
    font-size: 0.825em;
    margin-bottom: 20px; }

  header {
    border-bottom: 2px solid #3454e6;
    margin-bottom: 60px; }

  /********************
  PAGES: WEB and 3D
  ********************/
  .body-title {
    text-align: left; }

  /********************
  PAGE: ABOUT
  ********************/
  .profile-photo {
    padding: 0; }

  #wrapper h3 {
    margin: 0 5% 15px 0;
    padding: 0; }

  /********************
  PAGE: CONTACT
  ********************/
  #secondary {
    padding-top: 0; } }

/*# sourceMappingURL=main.css.map */
